* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

main {
    width: 100%;
    height: 100vh;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
#loader {
    position: absolute;
    z-index: 50;
    display: none;
    /*inbuilt feature*/
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
  }
  @keyframes l4 {to{transform: rotate(1turn)}}
.video {
    display: block;
    height: 100vh;
}

main video {
    position: fixed;
    top: 0;
    position: absolute;
    transform: scale(1.25);
    width: 100%;
    height: 100vh;
    filter: blur(2px);
}

.contentBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
}

#content {
    padding: 0 40px;
    width: 730px;
    height: 650px;
    text-align: center;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.252);
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#content .points {
    margin: 20px 0;
}

#content>h2 {
    margin: 20px 0;
    font-size: 40px;
}

#content button {
    width: 135px;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    margin: 30px 0 0 0;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: var(--top);
    left: var(--left);
}

.point {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 50px;
}

.point input {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#deshbhakt{
    position: absolute;
    width: 50%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 10px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    visibility: hidden;
}
#deshbhakt #nameInput{
    padding: 0 10px;
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 170px;
    &:active{
        border: none;
    }
    &::placeholder{
        color: black;
    }
}
#deshbhakt #certificateBtn{
    width: 150px;
    height: 40px;
    position: relative;
    bottom: -135px;
    border-radius: 10px;
    cursor: pointer;
}
#certificate{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    width: 35vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#certificateImg{
    width: 80%;
    height: 95%;
}
#certificate button{
    padding: 2px;
    width: 28px;
    height: 28px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 40px;
    right: 74px;
    cursor: pointer;
}